.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-search {
  font-size: 1.25em;
}

.App-input {
  box-sizing: border-box;
  width: 14%;
  padding: 10px;
  margin-left: 90px;
  margin-right: 10px;
}

.button {
  background-color: rgb(17, 115, 228);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
