.Card {
  width: 13%;
  display: block;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
};

.Button-logo {
  height: 10px;
}